
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Josefin Sans',sans-serif;
}
a, a:hover{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;

}
.header{
    position: relative;
    width:100%;
    height: 100vh;
    background-image: linear-gradient(to right,#6c5ce7,#5f1782);
}
.header .navbar{
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.header .navbar .logo a{
    margin-left: 100px;
    font-size: 33px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff!important;
}
.header .navbar .logo span {
    font-size: 33px;
    color: #ff0c86;

}
.header .navbar .menu ul li{
    display: inline-block;
}
.header .navbar .menu ul li a{
    position: relative;
    color: #fff!important;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
    letter-spacing: 1px;
}
.header .navbar .menu ul li a:after{
    position:absolute;
    left:0;
    top:35px;
    width:100%;
    height:4px;
    background: #ff0c86;
    content:'';
    opacity: 0;
    transition: all 0.3s;
    border-radius: 6px;
}
.header .navbar .menu ul li a:hover:after{
    opacity:5;
}
.header .navbar .reg-btn a{
    display: block;
    padding: 14px 40px;
    font-size: 20px;
    font-weight: 200;
    border: 2px solid #ff0c86;
    background-image: linear-gradient(to right,#6c5ce7,#ff0c86);
    margin-right: 100px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3s;
    color:#fff!important;


}
.header .navbar .reg-btn a:hover{
    border: 2px solid #ff0c86;
    color: #ff0c86!important;
    background-color: #fff;

}
.header .banner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.header .banner .app-text{
    width: 100%;
}
.header .banner .app-text h3{
    font-size: 50px;
    margin-top: 100px;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow:1px 1px #ff0c86;
}
.header .banner .app-text p{
    padding: 0 500px;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.header .banner .app-text img{
    position: relative;
    z-index:999;
}
.header .social-icons
{
    position: absolute;
    right: 50px;
    bottom: 5%;
    bottom:5%;
    z-index: 999;
    
   
}
.header .social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}
.header .social-icons ul li a{
    display: block;
    padding: 11px;
    text-align: center;
    font-size: 25px;
    background-color: #ff0c86;
    border-radius:10%;
    transition:0.5s;
    color: #fff!important;
}
.header .social-icons ul li a:hover{
    background-color:#fff;
    color: #ff0c86!important;
    border: 2px solid #ff0c86;
    transform:translateY(-10px);
}
.header .contact-info{
    position: absolute;
    left:60px;
    bottom: 5%;
    z-index:999;
}
.header .contact-info ul li {
    display:inline-block;

}
.header .contact-info ul li a{
    color: #000;
    font-size: 10px;
    font-weight:600;
    letter-spacing: 1px;
    transition: all 0.3s;
}
.header .contact-info ul li a:hover{
    color: #c32865;


}
.header .contact-info ul li a.sep{
    margin: 0 18px;
    opacity:1 ;

}
.header .wave-animate
{
    width: 100%;
    height: 4%;
    position: absolute;
    bottom: 0;
    letter-spacing: 0;
    background-color: #fff;
}
.header .wave-animate .wave{
    background-image: url(image/wave.png) repeat -x;
}
#services
{
    padding:80px 0;
}
.service-img
{
    width:200px;
    margin-top:20px;
}
.services
{
    padding:20px;
}
.services h4{
    padding:5px;
    margin-top:25px;
    text-decoration:uppercase;
}
.title::before{
    content:'';
    background:#ff0c86;
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(63px);
}
.title::after{
    content:'';
    background:#ff0c86;
    height:10px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    display:block;
    transform:translateY(17px);
}
#services .btn-primary
{
    box-shadow:none;
    padding:8px 25px;
    border:none;
    border-radius:20px;
    background-image: linear-gradient(to right,#6c5ce7,#ff0c86);
}
#about-us
{
    background:#f8f9fa;
    padding-bottom:50px;
    padding-top:50px;
}
.about-title
{
    font-size:40px;
    font-weight:500;
    margin-top:8%;
}
#about-us ul li{
    margin:10px 0;
}
#about-us ul{
    margin-left:20px;
}
#footer
{
    background-image: linear-gradient(to right,#6c5ce7  ,#5f1782);
    color:#fff;
}
.footer-img
{
    width:100%;
    height:80px;
}
.footer-box img{
    width:120px;
    margin-bottom:20px;
}
.footer-box1 img{
    width:120px;
    margin-bottom:20px;
}
#banner img{
    height:300px;
}
.header .menu .dropdown-item a
{
    color:#000!important;
}
